@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    padding: 5rem;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 3rem;
    display: inline;
}

input.ng-invalid {
    border: 3px solid red;
}