<h2>Check box</h2>
<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Check me!</mat-checkbox>
<div *ngIf="showDetails.checked">Show Details...</div>


<h2>Radio Button</h2>
<mat-radio-group value="1">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>

<h2>Drop Down Selects</h2>
<mat-form-field>
    <mat-select placeholder="Favorite food" [(value)]="selectedFood">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>