<h2>Check box</h2>
<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Check me!</mat-checkbox>
<div *ngIf="showDetails.checked">Show Details...</div>
<hr>
<h2>Radio Button</h2>
<mat-radio-group value="1">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
<hr>
<h2>Drop Down Selects</h2>
<mat-form-field>
    <mat-select placeholder="Favorite food" [(value)]="selectedFood">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<hr>
<h2>Input Fields</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input ngModel #favfood="ngModel" name="favfood" matInput placeholder="Favorite food" required value="Sushi">
        <mat-hint>Type the stuff...</mat-hint>
        <span matPrefix>Dr</span>
        <span matSuffix>@ricardoquintas.com</span>
        <mat-error *ngIf="favfood.invalid && favfood.errors.required">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>
<hr>
<h2>Date Picker</h2>
<mat-form-field>
    <input (focus)="picker.open()" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>
<hr>
<h2>Icons</h2>
<mat-icon>
    accessibility
</mat-icon>
<mat-icon>
    account_circle
</mat-icon>
<mat-icon style="color:red">
    add_alert
</mat-icon>
<hr>
<h2>Buttons</h2>
<div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
</div>
<div class="button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
</div>
<hr>
<h2>Chips</h2>
<mat-chip-list>
    <!-- <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected="true">Primary fish</mat-chip>
    <mat-chip color="accent" selected="true">Accent fish</mat-chip> -->
    <mat-chip *ngFor="let category of categories" (click)="onSelectChip(category)" [selected]="category.selected">{{category.name}}
    </mat-chip>
</mat-chip-list>
<hr>
<h2>Spinner</h2>
<mat-spinner mode="determinate" [value]="progress"></mat-spinner>
<hr>
<h2>Tooltip</h2>
<span matTooltip="Tooltip!" matTooltipPosition="right">I have a tooltip</span>
<hr>
<h2>Tabs</h2>
<mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group>
<hr>
<h2>Dialog</h2>
<button (click)="openDialog()" mat-raised-button>Open Dialog</button>