<h2>Check box</h2>
<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Check me!</mat-checkbox>
<div *ngIf="showDetails.checked">Show Details...</div>


<h2>Radio Button</h2>
<mat-radio-group value="1">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>

<h2>Drop Down Selects</h2>
<mat-form-field>
    <mat-select placeholder="Favorite food" [(value)]="selectedFood">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>

<h2>Input Fields</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input ngModel #favfood="ngModel" name="favfood" matInput placeholder="Favorite food" required value="Sushi">
        <mat-hint>Type the stuff...</mat-hint>
        <span matPrefix>Dr</span>
        <span matSuffix>@ricardoquintas.com</span>
        <mat-error *ngIf="favfood.invalid && favfood.errors.required">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>

<h2>Date Picker</h2>
<mat-form-field>
    <input (focus)="picker.open()" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>