<h1>Firebase Database Test</h1>
<button (click)="ngOnDestroy()" class="btn btn-primary">Go Offline</button>
<input type="text" class="form-control" (keyup.enter)="add(course)" #course>
<h3>This is the normal example</h3>
<ul>
    <li *ngFor="let course_a of courses">
        {{ course_a.title || course_a }}
    </li>
</ul>
<hr>
<h3>This is an example with Async Pipe</h3>
<ul>
    <li *ngFor="let course_b of courses$ | async">
        {{ course_b.title || course_b }}
        <button (click)="update(course_b.key)" class="btn btn-sm">Update</button>
    </li>
</ul>
<hr>
<h3>This is an example with Async Pipe for single object</h3>
<div *ngIf="author$ | async as author">
    <p>{{ author.name }}</p>
    <p>{{ author.country }}</p>
    <p>{{ author.isPremium }}</p>
</div>