<h1>Firebase Database Test</h1>
<button (click)="ngOnDestroy()" class="btn btn-primary">Go Offline</button>
<input type="text" class="form-control" (keyup.enter)="add(course)" #course>
<h3>This is the normal example</h3>
<ul>
    <li *ngFor="let course of courses">
        {{ course.title || course }}
    </li>
</ul>
<hr>
<h3>This is an example with Async Pipe</h3>
<ul>
    <li *ngFor="let course of courses$ | async">
        {{ course.title || course }}
    </li>
</ul>
<hr>
<h3>This is an example with Async Pipe for single object</h3>
<div *ngIf="author$ | async as author">
    <p>{{ author.name }}</p>
    <p>{{ author.country }}</p>
    <p>{{ author.isPremium }}</p>
</div>