<form>
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <!-- <input type="text" required class="form-control" ngModel name="name" id="courseName" placeholder="Course Name"> -->
        <input required minlength="3" ngModel type="text" class="form-control" name="name" #name="ngModel" id="courseName" placeholder="Course Name" />
        <div class="alert alert-danger" *ngIf="!name.valid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">Name minlength</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category">
          <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
    </div>
    <div class="form-check">
        <label class="form-check-label">
      <input type="checkbox" [checked]="hasGuarantee"  [(ngModel)]="hasGuarantee" name="hasGuarantee" class="form-check-input" #spy>
      30-day money-back guarantee
    </label>
    </div>
    <div>TODO: {{ name.valid|json }}</div>
    <button class="btn btn-primary">Create</button>
</form>